## Python Basics

## Variables and Data Types

In [27]:
a = 10 # a is a variable, its value can be changed afterwordslll
a

10

In [29]:
type(a) # a is of integer type

int

In [31]:
a = 10.2
type(a)

float

In [35]:
a = True
type(a)

bool

In [37]:
s = "Hello World!"
s

'Hello World!'

In [39]:
type(s)

str

In [41]:
li = [1, 2, 3] 
type(li)

list

In [43]:
d = {'Key': 'value'}
type(d)

dict

## Arithmetic Operations

In [11]:
# the above headings were made using markdown
a = 1 # a is a variable and its data type is integer which is assigned to 1 
b = 2
a + b #addition operation

3

In [13]:
a * b # multiplication operation

2

In [15]:
a - b # subtraction operation

-1

In [21]:
a / b # division operation

0.5

In [23]:
pow(a, b) # exponentiation

1

In [25]:
a % b # modulus operation

1

## Lists

In [46]:
# Creating a Python list with different data types
a = [10, 20, "Shreya", 40, True]

print(a)

# Accessing elements using indexing
print(a[0])  # 10
print(a[1])  # 20
print(a[2])  # "Shreya"
print(a[3])  # 40
print(a[4])  # True

# Checking types of elements
print(type(a[2]))  # str
print(type(a[4]))  # bool

[10, 20, 'Shreya', 40, True]
10
20
Shreya
40
True
<class 'str'>
<class 'bool'>

In [48]:
# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)  
print("After append(10):", a)  

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a) 

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

## Tuples

In [51]:
tup = ()
print(tup)

# Using String
tup = ('Hello', 'World')
print(tup)

# Using List
li = [1, 2, 4, 5, 6]
print(tuple(li))

# Using Built-in Function
tup = tuple('QuantLake')
print(tup)

()
('Hello', 'World')
(1, 2, 4, 5, 6)
('Q', 'u', 'a', 'n', 't', 'L', 'a', 'k', 'e')

## Dictionaries

In [54]:
d1 = {1: 'Consistency', 2: 'Is', 3: 'The', 4: 'Key'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "Learning", b = "Is", c = "Fun")
print(d2)

{1: 'Consistency', 2: 'Is', 3: 'The', 4: 'Key'}
{'a': 'Learning', 'b': 'Is', 'c': 'Fun'}

## Comparison Operations

In [57]:
a = 9
b = 5
c = 9

# Output
print(a == b) #equality operator
print(a == c)

False
True

In [59]:
a = 9
b = 5
c = 9

# Output
print(a != b) #inequality operator
print(a != c)

True
False

In [61]:
a = 9
b = 5

# Output
print(a > b) #greater than comparison
print(b > a)

True
False

In [63]:
a = 9
b = 5

# Output
print(a < b) #lesser than operation
print(b < a)

False
True

In [65]:
a = 9
b = 5
c = 9

# Output
print(a >= b) #greater than equal to operator
print(a >= c)
print(b >= a)

True
True
False

In [67]:
a = 9
b = 5
c = 9

# Output
print(a <= b) #lesser than equal to operator
print(a <= c)
print(b <= a)

False
True
True

## Loops

In [71]:
cnt = 0
while (cnt < 3): #while loop
    cnt = cnt + 1
    print(cnt)

1
2
3

In [73]:
n = 4
for i in range(0, n): # for loop
    print(i)

0
1
2
3

In [75]:
li = ["a", "b", "c"]
for i in li:
    print(i)
    
tup = ("d", "e", "f")
for i in tup:
    print(i)
    
s = "Shreya"
for i in s:
    print(i)
    
d = dict({'x':123, 'y':354})
for i in d:
    print("%s  %d" % (i, d[i]))
    
set1 = {1, 2, 3, 4, 5, 6}
for i in set1:
    print(i),

a
b
c
d
e
f
S
h
r
e
y
a
x  123
y  354
1
2
3
4
5
6

In [77]:
subjects = ["maths", "english", "science"]

for subject in subjects:

    print(subject)

maths
english
science

## Conditional statements: if, else if, nested if

In [84]:
marks = 95 # if statement

if marks >= 33:
    print("Pass")

Pass

In [80]:
age = 25  # elif statement

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

In [86]:
age = 70 #nested if-else
is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

30% senior discount!