## Pandas Introduction

## Task 1: Pandas Basics

### Creating a Series

#### A Pandas Series is a one-dimensional labeled array.

In [8]:
import pandas as pd

# Create a Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data, name='Numbers')
print(series)

0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64

### Creating a DataFrame

#### A DataFrame is a 2-dimensional labeled data structure with columns that can be of different types.

In [18]:
# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

### Inspecting Data Structures

#### .head() and .tail()
#### head() shows the first n rows (default is 5)
#### tail() shows the last n rows (default is 5)

In [23]:
print(df.head(2))  # First 2 rows
print(df.tail(1))  # Last 1 row

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
    Name  Age     City
3  David   40  Houston

#### .shape()
#### Returns a tuple representing the dimensionality of the DataFrame.

In [27]:
print(df.shape)

(4, 3)